/* import fonts here */

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
  /* background-color: blue; */
}

body {
  /* margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  padding: 12px; */
  margin: 0;
  background-color: #3B3F44;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-container h1 {
  color: var(--green);
  padding: 1rem;
}

#mainBody {
  font-family: "Lato", sans-serif;
  color: #888;
  margin: 0;
  transition: all 0.6s;
  height: 100%;
}

#main {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #282B30;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* .mainHeader:last-of-type {
  margin-right: 25px;
}
.mainHeader:first-of-type {
  margin-left: 15px;
} */

#logo {
  border: none;
  width: 85px;
}

/* #cartLogo {
  border: none;
  width: 15px;
} */

#movieComponent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 12px;
    margin: 25px;
}

#movieHeader {
  display: block;
}

.movieContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 315px;
  background-color: #D9D9D9;
  margin: 5px;
  padding: 5px;
  margin-bottom: 5%;
  font-family: "IBM Plex Sans";
}

.topRowContainer {
  /* border: 2px solid purple;
  background-color: skyblue; */
  padding: 10px;
  width: 100%;
  height: 325px;
  display: flex;
  justify-content: center;
  /* margin-top: 25px; */
}

.moviePoster {
  display: flex;
  height: 300px;
  width: 200px;
  margin-left: 22%;
  /* margin-right: 89%; */
  /* border: 2px solid black;*/
  float: center; 
}

.priceText {
  text-align: center;
  /* float: right; */
  /* width: 100%; */
  /* height: 100%; */
  margin-left: 2%;
  padding-left: 5px;
  /* margin-top: 50%; */
  /* margin-bottom: 100%; */
  /* border: 2px solid yellow; */
  font-family: "Roboto";
  font-weight: bold;
}

.textContainer {
  font-family: "IBM Plex Sans";
  /* border: solid blue 2px; */
  /* position: absolute; */
  /* margin-left: 10%; */
}

.movieInfoContainer {
  /* border: solid 2px gray; */
  height: 40%;
  width: 100%;
}

div.movieInfoContainer {
  margin: 0;
  padding: 0;
  font-size: 25px;
  display: block;
  line-height: 1;
}
.movieInfo {
  margin: 0;
  padding: 0;
  font-size: 18px;
  display: block;
  max-height: 50%;
  overflow-y: hidden;
  overflow-x: hidden;
  /* border: 2px yellow solid; */
  position: relative;
}
.seeMoreTag {
  border: 2px solid green;
  display: inline-flex;
  margin-left: 78%;
  margin-top: 0%;
  font-size: 15px;
  color: black;
}
.furtherMovieInfo {
  font-size: 14px;
  font-family: Dosis;
}
.activeSeeMore {
  max-height: 90%;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.addToCart {
  appearance: none;
  background-color: transparent;
  /* background-color: #282B30; */
  /* background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%); */
  /* background-size: calc(100% + 20px) calc(100% + 20px); */
  /* border-radius: 100px; */
  border-width: 0;
  /* box-shadow: none; */
  /* box-sizing: border-box; */
  /* color: #ffffff; */
  cursor: pointer;
  display: inline-flex;
  /* font-family: CircularStd, sans-serif; */
  /* font-size: 1rem; */
  height: auto;
  justify-content: flex-end;
  /* line-height: 1.5; */
  /* padding: 6px 20px; */
  /* padding-left: 12px; */
  /* position: relative; */
  /* text-align: center; */
  /* text-decoration: none; */
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  touch-action: manipulation;
  /* vertical-align: top; */
  /* white-space: nowrap; */
  /* margin-top: 25px; */
  /* margin-left: 25px;*/
}

.addToCart:hover {
  background-position: -20px -20px;
}
.almostOutOfStock {
  font-style: italic;
  color: red;
}
input[type="number"] {
  font-size: 15px;
  font-family: "Roboto";
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#movieSearch {
  height: 3rem;
  font-family: "IBM Plex Sans";

}
input[type="search"] {
  font-size: 24px;
  font-family: "IBM Plex Sans";
}

.filterContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 95%;
}
.break {
  flex-basis: 100%;
  height: 0;
}

/* select {
  display: flex;
  position: relative;
  font-family: Arial;
  margin-bottom: 0px;
  font-size: 16px;
  font-family: "IBM Plex Sans";
  justify-content: right;
} */

.test{
  display: flex;
  justify-content: right;
  margin-right: 55px;
  
}

/* a.anchor{
  text-decoration: none;
  text-decoration-color: black;
} */


.paginationContainer{
  display: block;
  flex-grow: 1;
  width: 100%;
  height: 10%;
  font-size: 18px;
  text-align: center;
}

.pagination {
  font-size: 18px;
  margin: 10px 15px;
  color: white;
}

a.pagination:active {
  text-decoration: underline;
}

a.pagination.active{
  text-decoration: underline;
  color: red;
}

.paginationButton {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #282B30;
  color: white;
}

/* a.pagination{
  
} */

.movieFeature{
  height: 25px;
}

.singleCart{
  border: solid black;
}

.dropdown-content {
  display: none;
  border: 2px solid black;
}

.show-dropdown,
.dropdowndiv {
  display:flex;
  flex-direction: column;
}

.user-name{
  font-family: "IBM Plex Sans";
}

#user-name:hover {
  text-decoration: underline;
}


.featured-movie-title {
  color: white;
  text-align: center;
  font-family: "IBM Plex Sans";

}

.featured-movies {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.material-symbols-outlined {
  color: white;
}

#add-cart-icon {
  color: black;
}

#asd {
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin: 8px;
}

.sortby-option {
  padding: 0;
  font-size: 15px;
  /* width: 80%; */
  border-radius: 5px;
  border: none;
  margin: 8px;
}


.websiteTitle{
  color: white;
  font-size: larger;
  /* font-family: 'Bubblegum Sans', cursive; */
  /* font-family: 'Carter One', cursive; */
  /* font-family: 'Contrail One', cursive; */
  font-family: 'Montserrat Alternates', sans-serif;
  /* font-family: 'Rock Salt', cursive; */
  /* font-family: 'RocknRoll One', sans-serif; */
  /* font-family: 'Saira Stencil One', cursive; */

}

/* select, option {
  
} */