/* import fonts here */

/* * {
  box-sizing: border-box;
  margin: 0;
} */

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #3B3F44;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-container h1 {
  color: var(--green);
  padding: 1rem;
}

#mainBody {
  font-family: "Lato", sans-serif;
  color: #888;
  margin: 0;
  transition: all 0.6s;
  height: 100%;
}

#main {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}


/* HEADER */
.mainHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #282B30;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 8vh;
}

.websiteTitle{
  color: white;
  font-size: larger;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-right: 25vw;
}

#logo {
  border: none;
  width: 85px;
}

.dropdown-content {
  visibility: hidden;
  margin-top: 10px;
}

.show-dropdown,
.dropdowndiv {
  visibility: visible;
  margin-top: 10px;
}

.user-name{
  /* font-family: "IBM Plex Sans"; */
  font-family:'Mulish', sans-serif;
  padding: 18px 0 0 0;
  margin-bottom: 0;
}

#user-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.material-symbols-outlined {
  color: white;
}

#add-cart-icon {
  color: black;
}

.login-register-link{
  color: white
}


/* MOVIES ON MAIN PAGE */
#movieComponent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 12px;
  margin: 25px;
}

#movieHeader {
  display: block;
}

.movieContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 315px;
  background-color: #D9D9D9;
  margin: 5px;
  padding: 5px;
  margin-bottom: 5%;
  font-family: 'Nunito', sans-serif;
}

.topRowContainer {
  padding: 10px;
  width: 100%;
  height: 325px;
  display: flex;
  justify-content: center;
}

.moviePoster {
  display: flex;
  height: 300px;
  width: 200px;
  margin-left: 22%;
  float: center; 
}

.priceText {
  text-align: center;
  margin-left: 2%;
  padding-left: 5px;
  font-family: "Roboto";
  font-weight: bold;
}

.movieInfoContainer {
  width: 100%;
}

div.movieInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 20px;
}

#get-info-button {
  background-color: #282B30;
  color: white;
  border-radius: 5px;
  padding: 5px;
  align-self: center;
  justify-self: flex-end;
  border: none;
}

#get-info-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.addToCart {
  appearance: none;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  height: auto;
  justify-content: flex-end;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  touch-action: manipulation;
}

.addToCart:hover {
  background-position: -20px -20px;
}

.movie-titles{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}


/* SINGLE MOVIE PAGE */
.singleTopRowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleMoviePoster{
  margin-left: 30%;
  margin-top: 10%;
  height: 450px
}

.singlePriceText {
  display: flex;
  text-align: center;
  font-family: "Roboto";
  flex-direction: column;
  align-items: center;
  align-self: center;
  color: white;
  padding: 5%;
  margin: 5%;
}

/* .textContainer {
  font-family: "IBM Plex Sans";
} */

.singleMovieInfoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  margin-top: 5%;
  color: white;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
}

.movieInfo {
  margin: 0;
  padding: 0;
  font-size: 18px;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  font-family: 'Nunito', sans-serif;
}

.furtherMovieInfo,
.furtherMoviePlot {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}
.furtherMoviePlot {
  margin-left: 5%;
  margin-top: 5%;
}

/* .activeSeeMore {
  max-height: 90%;
  overflow-y: scroll;
  overflow-wrap: break-word;
} */

.almostOutOfStock {
  font-style: italic;
  color: red;
}

input[type="number"] {
  font-size: 15px;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  margin-right: 15px;
}

a:hover {
  text-decoration: underline;
}

.singleMovieContainer {
  display: flex;
}

#add-to-cart {
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}

.singleTextContainer {
  display: flex;
}

#moviePrice {
  font-size: 20px;
}


/* SEARCH, FILTER, AND PAGINATION */
#movieSearch {
  height: 3rem;
  font-family: "IBM Plex Sans";

}

input[type="search"] {
  font-size: 24px;
  font-family: "IBM Plex Sans";
}

.filterContainer{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 95%;
}
.break {
  flex-basis: 100%;
  height: 0;
}

/* select {
  display: flex;
  position: relative;
  font-family: Arial;
  margin-bottom: 0px;
  font-size: 16px;
  font-family: "IBM Plex Sans";
  justify-content: right;
} */

.test{
  display: flex;
  justify-content: right;
  margin-right: 55px;
  
}

/* a.anchor{
  text-decoration: none;
  text-decoration-color: black;
} */

.paginationContainer{
  display: block;
  flex-grow: 1;
  width: 100%;
  height: 10%;
  font-size: 18px;
  text-align: center;
}

.pagination {
  font-size: 18px;
  margin: 10px 15px;
  color: white;
}

.activePage{
  font-weight: bold;
  text-shadow: 1px 1px 2px #282B30;
  font-size: 22px;
}

.paginationButton {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #282B30;
  color: white;
}

.cancelSearchButton{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 15%;
  margin: 0% 45%;
}

.movieFeature{
  height: 25px;
  max-width: 20vw;
}

#noMovies{
  font-weight: bold;
}

#asd {
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin: 8px;
}

.sortby-option {
  padding: 0;
  font-size: 15px;
  /* width: 80%; */
  border-radius: 5px;
  border: none;
  margin: 8px;
}

.paginationButton:hover{
  text-decoration: underline;
  cursor: pointer;
  background-color: #2e322d9e;
}


/* CART */
#user-cart {
  color: white;
  margin-left: 6vw;
}

.singleCart{
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  padding: 20px;
  margin: 0 25px;
  border: 2px solid black;
  font-family: 'Nunito', sans-serif;
}

.singleCart > button {
  align-self: center;
  border: none;
  background-color: #282B30;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#edit-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-total {
  color: white;
  font-size: 25px;
  text-align: end;
  margin-right: 15vw;
}

#checkout-button {
  float: right;
  margin-right: 15%;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

#checkout-form {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 28%;
  margin-top: 8%;
  width: 40vw;
  align-self: center;
  padding-bottom: 10px;
}

#checkout-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* FEATURED MOVIES */
.featured-movie-title {
  color: white;
  text-align: center;
  font-family: "IBM Plex Sans";

}

.featured-movies {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: 5%;
  margin-right: 5%;
}








/* LOADING */
#loading {
  position: fixed;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);
  
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
}

#loading .message {
  min-width: 480px;
  padding: 3rem;
  
  box-shadow: 0 2px 8px black;
  background: white;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* USER ORDER HISTORY */
.order-history{
  display: flex;
  flex-direction: column;
}

#orders {
  background-color: #D9D9D9;
  padding: 10px;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
}

.ordersbox{
  margin-right: 8vw;
  margin-left: 8vw;
}

.ordermovietitle {
  display: flex; 
  padding: 5px;
  margin: 10px;
}

.ordermovietitle > p {
  margin-left: 10px;
}

#movie-poster {
  max-height: 20vh;
  max-width: 12vw;
}

#price-and-address {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: 5px;
  padding: 5px;
}

.order-history-price {
  font-weight: bold;
}


/* ADMIN FUNCTIONS (all orders, all users, add movie) */
.all-orders-title,
.movieForm > h1,
.all-users > h1,
.order-history > h1 {
  color: white;
  text-align: center;
  font-family:'Mulish', sans-serif;
}

.all-users{
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: 'Nunito', sans-serif;
}

#all-users {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
  background-color: #D9D9D9;
  padding: 5px;
}

#all-orders {
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  padding: 10px;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
}

#newMovieForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background-color: #D9D9D9;
}

#newMovieForm > input {
  margin: 5px;
  padding: 5px;
  border: none;
}

#add-movie-button {
  border: none;
  padding: 5px;
  align-self: center;
  border-radius: 5px;
  background-color: #282B30;
  color: white;
}

/* USERS AND REVIEWS */
.addreview {
  font-family: Roboto;
  margin-left: 35px;
}

.reviewForm {
  width: 90%;
  height: 100px;
  font-family: Roboto;
  margin-top: 7px;
  margin-bottom: 7px
}

.componentBasics {
  margin-left: 35px;
  font-family: Roboto;
}

.componentHeader{
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 18pt;
}

.userFormHeader{
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 24pt;
}

.individualReviews {
  background-color:#bebebe;
  border: 2px solid black;
  margin-bottom: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  width: 68%;
}

.userReview{
  border-bottom: dashed 1px;
}

.reviewButton{
  margin-left: 35px;
}

.fsLogReg {
  background-color: #d3d3d3;
  margin-right: 13px;
  border: solid;
}

.loginInput{
  width: 150px;
  margin-bottom: 2px;
}

.compLogReg {
  margin: auto;
  font-family: Roboto;
  background-color: #bebebe;
  padding-left: 10px;
  padding-bottom: 20px;
  width: 50%;  
}

.compUserForm {
  font-family: Roboto;
  background-color: #bebebe;
  width: 75%;
  margin-left: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.logRegHeader{
  font-size: larger;
  font-weight: bolder;
}

.newName{
  width: 185px;
  margin-bottom: 3px;
}

.addressDisplay{
  margin-bottom:7px
}

.newaddress {
  width: 215px;
  margin-top:2px;
  margin-bottom: 2px;
}

.reviewsByMovie {
  margin-left: 35px;
  font-family: Roboto;
}

.componentHeader{
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 18pt;
}

.individualReviews {
  background-color:#bebebe;
  border: 2px solid black;
  margin-bottom: 7px;
  padding-left: 5px;
  width: 68%;
}

.userReview{
  border-bottom: dashed;
}